
@page {
  margin-top: 2cm;
  margin-right: 1cm;
  margin-bottom: 1cm;
  margin-left: 0.1cm; 
}

.section {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.titles h3 {
  margin-bottom: 0.2em;
}

.titles p {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.aside {
  padding-top: 0;  
  margin-top: 0;
}

.aside > :first-child {
  margin-top: 0;  
}